@import './base.css';

.page-title {
  font-size: 26px;
}

.btn-link {
  color: #000000;
}

.btn.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus {
  color: #fff;
  background-color: grey;
  border-color: grey;
  outline: none;
  box-shadow: none;
}

.btn.btn-primary:hover {
  color: #fff;
  background-color: grey;
  border-color: grey;
  outline: none;
  box-shadow: none;
}

.btn.btn-primary.active,
.btn.btn-primary:active {
  color: #fff;
  background-color: grey;
  border-color: grey;
  outline: none;
}

.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: #fff;
  background-color: grey;
  border-color: grey;
  outline: none;
  box-shadow: none;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

body,
html {
  height: 100%;
  font-size: 14px;
}

/* Datepicker Theming */
.dp__theme_light {
  --dp-background-color: #ffffff !important;
  --dp-text-color: #212121 !important;
  --dp-hover-color: #f3f3f3 !important;
  --dp-hover-text-color: #212121 !important;
  --dp-hover-icon-color: #959595 !important;
  --dp-primary-color: #ff7f61 !important;
  --dp-primary-text-color: #f8f5f5 !important;
  --dp-secondary-color: #c0c4cc !important;
  --dp-border-color: #ddd !important;
  --dp-menu-border-color: #ddd !important;
  --dp-border-color-hover: #aaaeb7 !important;
  --dp-disabled-color: #f6f6f6 !important;
  --dp-scroll-bar-background: #f3f3f3 !important;
  --dp-scroll-bar-color: #959595 !important;
  --dp-success-color: #000000 !important;
  --dp-success-color-disabled: #a3d9b1 !important;
  --dp-icon-color: #959595 !important;
  --dp-danger-color: #ff6f60 !important;
  --dp-highlight-color: rgba(255, 127, 97, 0.1) !important;
}

.dp__range_end,
.dp__range_start,
.dp__active_date {
  background: var(--dp-danger-color) !important;
  color: var(--dp-primary-text-color) !important;
}

.dp__action_select {
  background: #000000 !important;
  color: var(--dp-primary-text-color) !important;
}

@font-face {
  font-family: 'BigJohn';
  src: url('fonts/big_john.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('fonts/avenir.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.title-font {
  font-family: 'BigJohn', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'BigJohn', sans-serif;
}

p {
  font-family: 'Avenir', sans-serif;
}

.input-label {
  color: #ff7f61;
  font-family: 'Avenir', sans-serif;
}

input {
  font-family: 'Avenir', sans-serif;
}

select {
  font-family: 'Avenir', sans-serif;
}

label {
  font-family: 'Avenir', sans-serif;
}

button {
  font-family: 'BigJohn', sans-serif;
}

.btn.btn-primary {
  font-family: 'BigJohn', sans-serif;
}

th {
  font-family: 'BigJohn', sans-serif;
}

.form-control:focus,
.custom-select:focus {
  border-color: #737373;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(115, 115, 115, 0.6);
  outline: 0 none;
}

small {
  font-family: 'Avenir', sans-serif;
}
